*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
}
.Box{
    width:400px;
    height: 400px;
    background-color: #bc6c25;
    text-align: center;
    margin:20px;
}
.circle{
     width:400px;
     height: 400px;
     background-color:#606c38 ;
     text-align: center;
     border-radius: 50%;
     margin:20px;
}
